<div class="list-group">
    <a asp-controller="Account" asp-action="Index" class="list-group-item">Dashboard</a>
    <a asp-controller="Specialties" asp-action="Index" class="list-group-item">Speciality</a>
    <a asp-for="" class="list-group-item">Patient</a>
    <a asp-for="" class="list-group-item">Appointment</a>
    <a asp-controller="Doctors" asp-action="Index" class="list-group-item">Doctors</a>
    <a asp-for="" class="list-group-item">Users</a>
    
</div>
